<div>
    <div class="mb-1">

        <div ng-if="!inscription.presences.length" class="well well-empty well-sm">
            Il n'y a aucune présence pour cette session.
        </div>

        <table ng-if="inscription.presences.length" class="table table-hover table-search table-condensed">
            <thead>
            <tr>
                <th>Date</th>
                <th>Matin</th>
                <th>Après-midi</th>
                <th>Modifier</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="presence in inscription.presences | orderBy:'datebegin':false" >
                <!--form sf-xeditable-form="form" sf-href='dates.edit({dates: date })' on-success="onSuccess(data)"-->
                    <td>{{ presence.datebegin|date: 'dd/MM/yyyy' }}</td>
                    <td>{{ presence.morning }}</td>
                    <td>{{ presence.afternoon }}</td>
                    <td><a class="btn btn-fa" href="" ng-click="editPresence(presence)" tooltip="Modifier"><span class="fa fa-pencil"></span></a></td>
                <!--/form-->
            </tr>
            </tbody>
        </table>

    </div>

</div>
