# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
#APP_ENV=dev
APP_ENV=prod
###< symfony/framework-bundle ###

###> symfony/mailer ###
MAILER_USER=null
MAILER_PASSWORD=null
MAILER_DSN=sendmail://default
###< symfony/mailer ###


###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
DATABASE_URL="mysql://user-db:pwd@localhost/geforp?serverVersion=5.7"
###< doctrine/doctrine-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###

###> front / back host ###
back_host='geforp-admin.univ.fr'
front_host='geforp.univ.fr'
###< front / back host ###

###> knplabs/knp-snappy-bundle ###
WKHTMLTOPDF_PATH=../bin/wkhtmltopdf-amd64
WKHTMLTOIMAGE_PATH=../bin/wkhtmltoimage
###< knplabs/knp-snappy-bundle ###

###> shibboleth bundle ###
REMOTE_USER=user
###< shibboleth bundle ###
