{% block checkbox_widget %}
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <label  for="{{ id }}" style="margin-left: 5px">{{ label}} </label>
{% endblock checkbox_widget %}