{% block footer %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <small>Geforp est un fork de Sygefor. Geforp est développé et maintenu par l'université d'Aix Marseille et Sygefor est développé par la société Conjecto à la demande des URFIST.</small>
                <br>
            </div>
        </div><!-- --/row ---->
    </div><!-- --/container ---->
</footer>
{% endblock footer %}
