<div class="modal-header">
    <button type="button" class="close" ng-click="dialog.dismiss()" aria-hidden="true">×</button>
    <h4 class="modal-title"><i class="fa fa-graduation-cap"></i> Editer les présences pour la journée du {{ presence.datebegin|date: 'dd/MM/yyyy' }}</h4>
</div>

<form sf-href="presence.edit({presence: dialog.params.presence.id})" sf-form="form" json-path="form" on-success="onSuccess(data)" class="form-horizontal" novalidate>
    <div class="modal-body">
        <div class="form-group" ng-class="{'has-error': form.children.morning.errors.length }">
            <label class="col-sm-3 control-label" for="{{ form.children.scheduleMorn.id }}">{{ form.children.morning.label }}</label>
            <div class="col-sm-3" ng-if="!presence.morning">
                <span disabled="true" sf-form-widget="form.children.morning" class="form-control" />
                <div ng-if="error.length" ng-repeat="error in form.children.morning.errors" class="help-block">{{ error }}</div>
            </div>
            <div class="col-sm-3" ng-if="presence.morning">
                <span sf-form-widget="form.children.morning" class="form-control" />
                <div ng-if="error.length" ng-repeat="error in form.children.morning.errors" class="help-block">{{ error }}</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': form.children.afternoon.errors.length }">
            <label class="col-sm-3 control-label" for="{{ form.children.afternoon.id }}">{{ form.children.afternoon.label }}</label>
            <div class="col-sm-3" ng-if="!presence.afternoon">
                <span disabled="true" sf-form-widget="form.children.afternoon" class="form-control" />
                <div ng-if="error.length" ng-repeat="error in form.children.afternoon.errors" class="help-block">{{ error }}</div>
            </div>
            <div class="col-sm-3" ng-if="presence.afternoon">
                <span sf-form-widget="form.children.afternoon" class="form-control" />
                <div ng-if="error.length" ng-repeat="error in form.children.afternoon.errors" class="help-block">{{ error }}</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default" ng-click="dialog.dismiss()">Annuler</a>
        <input class="btn btn-primary" type="submit" value="Enregistrer" />
    </div>
</form>


